sphinx
catalyst-sphinx-theme
black
mlflow
omegaconf
hydra-core
librosa
soundfile
flake8
unidecode
frozendict
pytest
inflect
numpy
editdistance
tqdm
boto3

# for tensorflow
tensorflow-io
tensorflow-text
tensorflow-addons
tensorflow-datasets==4.2
tensorboard-plugin-profile

# for pytorch
torch-stft
pytorch-lightning